@charset "utf-8";

/*#################### 좌측메뉴 ####################*/
.left-box {
	position: absolute;
	top: 0;
	z-index: 99998;
	transition: top .5s ease-in-out;
}
@media (min-width: 1600px) {
	.left-box {
		top: var(--gnb-top);
		height: calc(100vh - var(--gnb-top));
		bottom: 0;
	}
}

/* menu-icon */
.menu-icon {
	width: var(--gnb-width);
	height: 48px;
	cursor: pointer;
	overflow: hidden;
	background-color: var(--bg-danger-default);
	background-image: url(/resources/images/icons/icon-menu.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;

	display: flex;
	align-items: center;
}

.menu-icon>span {
	display: none;
}

@media (min-width: 1600px) {
	.menu-icon {
		height: var(--gnb-width);
	}
	.left-box:not(.expand) .menu-icon:hover>span {
        position: absolute;
        top: auto;
        left: 3rem;

		display: block;
		width: auto;
		padding: 6px 12px;

        font-weight: 500;
		white-space: nowrap;

		opacity: 1;
		background-color: var(--bg-default-default);
		border-radius: 1rem;
		box-shadow: var(--box-shadow-1);
	}
	.left-box:not(.expand) .menu-icon:hover>span::before {
		content: '';
		position: absolute;
		top: auto;
		left: 0;
		margin-top: 5px;
		margin-left: -5px;

		display: inline-block;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: 7px solid var(--white);
	}
}

/* expand */
.left-box.expand .menu-icon {
	width: 100%;
	background-image: url(/resources/images/icons/icon-menu-close.svg);
	background-position: 1rem center;
	padding-left: 3rem;
}
.left-box.expand .menu-icon>span {
	position: relative;
    display: block;
	color: var(--text-default-white);
}

/* ---------------------------------------- */
/* nav.menu-list */
nav {
	display: none;
}

@media (min-width: 1600px) {
	nav {
		display: block;
		height: calc(100vh - var(--gnb-width) - var(--header-height));
		background-color: var(--bg-brand-darkest);
	}
}

nav .depth-1 {
	display: flex;
	flex-direction: column;
	height: 100%;
}

nav .depth-1 li.full {
	flex-grow: 1;
	align-items: flex-start;
}

nav li {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

nav .menu-link {
	height: 52px;
	color: var(--text-neutral-default);
}

nav .menu-link.d1 {
    cursor: pointer;
}

nav .menu-link[onclick]:hover {
    color: var(--text-brand-tertiary);
}

.left-box .menu-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-text {
	display: none;
}

.d1[data-class] {
	width: var(--gnb-width);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;

/* 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: center;
	justify-content: center; */

	transition: background-position .3s ease-in-out;
}

/* expand */
.left-box.expand {
	width: 100%;
	height: 100vh;
	max-width: 240px;
	overflow-y: auto;
}

.left-box.expand .menu-item > .d1[data-class] {
	flex: 1 0 100%;
	max-width: 100%;
	display: flex;
    align-items: center;
}
.left-box.expand .menu-item:has(.open-icon) > .d1[data-class] {
	flex: 1 0 calc(100% - 40px);
	max-width: calc(100% - 40px);
}

.left-box.expand .open-icon {
	display: inline-flex;
	width: 40px;
	height: 40px;

	background-image: url(/resources/images/icons/keyboard_arrow_down-lightgray.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.left-box.expand .open-icon.close {
    background-image: url(/resources/images/icons/keyboard_arrow_up-lightgray.svg);
}

.left-box.expand .menu-text {
	display: block;
	position: inherit;
    top: inherit;
    left: inherit;
	text-indent: inherit;
	color: var(--text-default-white);
	
    padding-right: 8px;
}

.left-box.expand nav {
	display: block;
	height: calc(100vh - var(--header-height-md));
	background-color: var(--bg-brand-darkest);
	overflow: visible;
	overflow-y: auto;
}

.left-box.expand ul.depth-1>li {
	min-height: 48px;
	border-bottom: 1px solid var(--white-200);
}

.left-box.expand .d1[data-class] {
	transition: none;
	background-position: 1rem center;
	padding-left: 3rem;
}

.left-box.expand .d1[data-class] {
	position: relative;
	display: flex;
}
.left-box.expand li:has(.depth-2) > .menu-link>.menu-text { 
    background-color: var(--bg-brand-darkest);
}
.left-box.expand li:has(.depth-2) .d1[data-class]::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
    right: 0;
	transform: translateY(-50%);

	display: inline-block;
	height: 1px;

	border-bottom: 1px solid var(--icon-default-tertiary);
}

.left-box.expand li:has(.depth-2) .d1[data-class] > .menu-text {
	display: inline-block;
	background-color: var(--bg-brand-darkest);
}

/* 하위뎁스 */
.left-box.expand ul,
.left-box.expand .menu-link {
	display: block;
	text-align: left;
}
.left-box.expand .menu-box {
	width: 100%;
    display: block;
}
.left-box.expand .menu-box>strong {
	display: none;
}
.left-box.expand .nav-counter .menu-box {
	padding: 1rem;
}

.left-box.expand .menu-box.hide {
    display: none;
}

/* depth-2 */
.left-box.expand .depth-2 {
    width: 100%;
	padding: .25rem 1rem;
	padding-right: 0;
	margin-bottom: .5rem;
}
.left-box.expand .menu-link.d2 {
	width: 100%;
	height: inherit;
	font-size: .9375rem;
	font-weight: 500;
	min-height: 28px;
	color: var(--text-default-white);
}
.left-box.expand .depth-2 > li:has(.depth-3) .menu-link.d2 {
	background-image: url("/resources/images/icons/arrow_drop_down-white.svg");
	background-position: right 8px top;
	background-repeat: no-repeat;
}

/* depth-3 */
.left-box.expand .depth-3 {
    width: 100%;
	padding: .25rem .875rem;
	padding-right: 0;
}

.left-box.expand .menu-link.d3 {
	width: 100%;
	height: inherit;
	font-size: .875rem;
	font-weight: 400;
	min-height: 24px;
	color: var(--text-default-white);
}

.left-box.expand li.nav-counter .menu-item {
	display: none
}
.left-box.expand li.nav-counter .menu-item, 
.left-box.expand li.nav-counter .counter-box {
	color: var(--text-default-white);
	font-size: .8125rem;
}

/* 방문자수 */
.left-box.expand .counter-title {
	font-size: 1rem;
	color: var(--text-default-white);
}
.left-box.expand .counter-title strong {
	font-weight: 400;
}
.counter-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 0;
}
.counter-box [class*='cb-'] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 1.5rem;
	gap: 1rem;
    margin-top: .5rem;
}
.counter-box [class*='cb-'] > strong {
	font-size: .8125rem;
	padding-right: .5rem;
	flex: 1;
}
.counter-box [class*='cb-'] > span {
	font-size: .8125rem;
	font-weight: 400;
}

.btn-log.btn-sm {
	border-radius: .25rem;
	font-size: .75rem;
	color: var(--text-default-white);
	background-color: var(--blue-600);
	border: 1px solid var(--blue-700);

	padding: .125rem .25rem .125rem .5rem;
	padding-right: 1.25rem;
	background-image: url(/resources/images/icons/arrow_right-white.svg);
	background-repeat: no-repeat;
	background-position: right center;
}

@media (min-width: 1600px) {
    .left-box:not(.expand) .menu-box.active .counter-title {
        font-size: 1.125rem;
    }
    .left-box:not(.expand) .menu-box.active .counter-box [class*='cb-'] > strong,
    .left-box:not(.expand) .menu-box.active .counter-box [class*='cb-'] > span {
        font-size: 1rem;
    }
}

.left-box .menu-box .menu-link.d2 > span {
	display: flex;
	align-items: center;
	gap: .25rem;
}
.left-box .menu-box .menu-link.d2 > span sub {
	font-weight: 400;
	color: var(--red-300);
}

@media (min-width: 1600px) {
	.left-box.expand {
		width: var(--gnb-width-active);
		height: calc(100vh - var(--header-height));
	}
	.left-box.expand nav {
		height: calc(100vh - var(--gnb-width) - var(--header-height));
	}
	
	/* tooltip */
	.left-box li {
		position: relative;
	}
	
	.left-box:not(.expand) .d1[data-class]:hover {
		background-position: center;
	}
	.left-box:not(.expand) .menu-box {
		display: none;
	}	
	.left-box:not(.expand) .menu-box.active {
		position: absolute;
		top: 0;
		left: 3rem;
		z-index: 99999;

		display: block;
		width: auto;
		padding: .75rem 1.25rem;
		white-space: nowrap;

		background-color: var(--bg-default-default);
		border-radius: 1rem;
		box-shadow: var(--box-shadow-1);
	}	
	.left-box:not(.expand) .menu-box.active::before {
		content: '';
		position: absolute;
		top: auto;
		left: 0;
		margin-top: 5px;
		margin-left: -5px;

		display: inline-block;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: 7px solid var(--white);
	}
	.left-box:not(.expand) .menu-box > strong {
        margin-bottom: .5rem;
		font-size: 1.125rem;
	}

	/* 예외처리 */
	.left-box:not(.expand) .menu-box .depth-2 {
		display: block;
		font-size: .9375rem;
		padding: .5rem 0;
	}
    .left-box:not(.expand) .menu-box .depth-2 .menu-link.d2 {
        margin-bottom: .25rem;
    }
	.left-box:not(.expand) .menu-box .depth-3 {
        display: block;
        font-size: .875rem;
        padding: 0 .5rem .5rem;
        padding-right: 0;
	}
    .left-box:not(.expand) .menu-box .depth-3 .menu-link.d3 {
        margin-bottom: .125rem;
    }

	.left-box:not(.expand) .menu-box.active .menu-link {
		height: auto;
	}
	
	.left-box:not(.expand) .menu-box.active:has(.counter-box) {
		display: block;
		top: inherit;
		bottom: 0;
		margin-bottom: .5rem;
	}
	.left-box:not(.expand) .menu-box.active:has(.counter-box)::before {
		top: 76%;
	}
	.left-box:not(.expand) .menu-box .menu-item {
		font-size: .875rem;
		font-weight: 700;
		margin-bottom: .5rem;
	}
	.left-box:not(.expand) .menu-box.active .menu-link.d2 > span sub {
		color: var(--red-500);
	}
}

/* icons */
nav .d1[data-class] {
	background-image: url("/resources/images/icons/icon-close-white.svg");
}

nav .d1[data-class*="dashboard"] {
	background-image: url("/resources/images/icons/gnb-space_dashboard.svg");
}

nav .d1[data-class*="daily-safety"] {
	background-image: url("/resources/images/icons/gnb-shield_person.svg");
}

nav .d1[data-class*="facility"] {
	background-image: url("/resources/images/icons/gnb-manage_search.svg");
}

nav .d1[data-class*="geni"] {
	background-image: url("/resources/images/icons/gnb-category.svg");
}

nav .d1[data-class*="idms"] {
	background-image: url("/resources/images/icons/gnb-tile_small.svg");
}

nav .d1[data-class*="panorama"] {
	background-image: url("/resources/images/icons/gnb-vrpano.svg");
}

nav .d1[data-class*="alarm"] {
	background-image: url("/resources/images/icons/gnb-circle_notifications.svg");
}

nav .d1[data-class*="qrcode"] {
	background-image: url("/resources/images/icons/gnb-qr_code.svg");
}

nav .d1[data-class*="cctv"] {
	background-image: url("/resources/images/icons/gnb-speed_camera.svg");
}

nav .d1[data-class*="outbound"] {
	background-image: url("/resources/images/icons/gnb-outbound.svg");
}

nav .d1[data-class*="drawing"] {
	background-image: url("/resources/images/icons/gnb-picture_as_pdf.svg");
}

/* 하단 아이콘 */
.left-box.expand nav li.operation-control,
.left-box.expand nav li.tabs-control,
.left-box.expand nav li.nav-counter {
	border-bottom: none;
	min-height: inherit;
}
nav .d1[data-class*="operation-info"] {
	height: 48px;
	background-image: url("/resources/images/icons/gnb-swap_driving_apps_wheel.svg");
}
nav .d1[data-class*="close-tabs"] {
	height: 48px;
	background-image: url("/resources/images/icons/gnb-tab_close_all.svg");
}
nav .d1[data-class*="minimize-tabs"] {
	height: 48px;
	background-image: url("/resources/images/icons/gnb-tab_minimize_all.svg");
}
nav .d1[data-class*="visitors"] {
	background-image: url("/resources/images/icons/gnb-crowdsource.svg");
}

nav li.operation-control,
nav li.tabs-control {
    background-color: var(--slate-700);
}
nav li.nav-counter {
	background-color: var(--slate-800);
}

/* hover */
nav .d1[data-class*="dashboard"]:hover,
nav .d1[data-class*="dashboard"].active {
	background-image: url("/resources/images/icons/gnb-space_dashboard-white.svg");
}

nav .d1[data-class*="daily-safety"]:hover,
nav .d1[data-class*="daily-safety"].active {
	background-image: url("/resources/images/icons/gnb-shield_person-white.svg");
}

nav .d1[data-class*="facility"]:hover,
nav .d1[data-class*="facility"].active {
	background-image: url("/resources/images/icons/gnb-manage_search-white.svg");
}

nav .d1[data-class*="geni"]:hover,
nav .d1[data-class*="geni"].active {
	background-image: url("/resources/images/icons/gnb-category-white.svg");
}

nav .d1[data-class*="idms"]:hover,
nav .d1[data-class*="idms"].active {
	background-image: url("/resources/images/icons/gnb-tile_small-white.svg");
}

nav .d1[data-class*="panorama"]:hover,
nav .d1[data-class*="panorama"].active {
	background-image: url("/resources/images/icons/gnb-vrpano-white.svg");
}

nav .d1[data-class*="alarm"]:hover,
nav .d1[data-class*="alarm"].active {
	background-image: url("/resources/images/icons/gnb-circle_notifications-white.svg");
}

nav .d1[data-class*="qrcode"]:hover,
nav .d1[data-class*="qrcode"].active {
	background-image: url("/resources/images/icons/gnb-qr_code-white.svg");
}

nav .d1[data-class*="cctv"]:hover,
nav .d1[data-class*="cctv"].active {
	background-image: url("/resources/images/icons/gnb-speed_camera-white.svg");
}

nav .d1[data-class*="outbound"]:hover,
nav .d1[data-class*="outbound"].active {
	background-image: url("/resources/images/icons/gnb-outbound-white.svg");
}

nav .d1[data-class*="drawing"]:hover,
nav .d1[data-class*="drawing"].active {
	background-image: url("/resources/images/icons/gnb-picture_as_pdf-white.svg");
}

/* 하단 아이콘 */
nav .d1[data-class*="operation-info"]:hover,
nav .d1[data-class*="operation-info"].active {
	background-image: url("/resources/images/icons/gnb-swap_driving_apps_wheel-white.svg");
}
nav .d1[data-class*="close-tabs"]:hover,
nav .d1[data-class*="close-tabs"].active {
	background-image: url("/resources/images/icons/gnb-tab_close_all-white.svg");
}
nav .d1[data-class*="minimize-tabs"]:hover,
nav .d1[data-class*="minimize-tabs"].active {
	background-image: url("/resources/images/icons/gnb-tab_minimize_all-white.svg");
}
nav .d1[data-class*="visitors"]:hover,
nav .d1[data-class*="visitors"].active {
	background-image: url("/resources/images/icons/gnb-crowdsource-white.svg");
}

.left-box.expand nav .d1[data-class*="visitors"],
.left-box.expand nav .d1[data-class*="visitors"]:hover,
.left-box.expand nav .d1[data-class*="visitors"].active {
	background-image: none;
	padding: 1rem;
	height: auto;
}

